/* display */

.demo1{
	
}
.demo1 .demo-expo .flexbox1{
	display: flex;
	padding: 1em;
}

.demo2 .demo-expo .flexbox1{
	display: inline-flex;
	padding: 1em;
}

/* collapse */

.demo3 .demo-expo .flexbox1{
	display: flex;
	padding: 1em;

}

.demo3 .collapsed{
	visibility: collapse;
}

/* flex-direction */


 .flexbox1 div{
	padding: 2em;
	border: 1px solid rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.05);
}

.demo5 .flexbox1{
	display: flex;
	flex-direction: row;
}


/* flex-wrap */


.demo11 .flexbox1{
	width: 60%;
	display: flex;
	flex-wrap: nowrap;
}

/* flex-flow */

.flexbox2{
	max-width: 10em;
	max-height: 7em;
	border-radius: 0.5em;
	background-color: #296ca2;
	margin: 1em;
	display: flex;
}

.flexbox2 div{
	background: #0182c3;
	padding: 0.65em 1em;
	color: #fff;
	font-weight: bold;

	margin: 2px;
	max-width: 4em;
}


.demo12 .flexbox2{
	flex-flow: row;
}

.demo13 .flexbox2{
	flex-flow: column wrap;
}

.demo14 .flexbox2{
	flex-flow: row-reverse wrap-reverse;
}

/* order */

.demo15 .flexbox2{
	flex-flow: row wrap;
}

.demo15 .order1{
	order: 1;
}
.demo15 .order2{
	order: 2;
	background: pink;
}

.demo15 .order3{
	order: 3;
	background: deepPink;
}

.demo15 .order4{
	order: 4;
	background: salmon;
}

/* flex-lines */

.flexbox3{
	
	border-radius: 0.5em;
	background-color: #296ca2;
	margin: 1em;
	display: flex;
}

.flexbox3 div{
	background: skyblue;
	padding: 0.65em 1em;
	color: #555;
	font-weight: bold;
	text-align: center;
	margin: 2px;
	
}

.demo16 .flexbox3{
	width: 300px;
	flex-wrap: wrap;
}
.demo16 .flexbox3 div{
	width: 80px;
}

.demo17 .flexbox3{
	width: 300px;
	flex-wrap: wrap;
}
.demo17 .flexbox3 div{
	width: 80px;
	flex: auto;
}

.demo18 .flexbox3{
	width: 300px;
	flex-wrap: wrap;
}
.demo18 .flexbox3 div{
	width: 80px;
	flex: initial;
}

/* flex grow */

.flexbox4{
	width: 300px;
	display: flex;
	flex-flow: row wrap;
	background-color: pink;
}

.flexbox4 div{
	margin: 0.4em 0.2em;
	padding: 1em;
	background-color: magenta;
	color: #fff;
	width: 4em;
	text-align: center;
}

.demo19 .flexbox4 div:nth-child(1){
	flex-grow: 2;
}

.demo19 .flexbox4 div:nth-child(3){
	flex-grow: 1;
}



.demo20 .flexbox4 div:nth-child(3){
	flex-shrink: 1;
}



