table{
	margin: 1em 0;
	line-height: 1.8;
}
caption{
	font-weight: bold;
}
td{
	padding: 0 1em;

}

.all-prop-table{
	tr:nth-child(2n){
		background-color: rgba(0,0,0,0.1);
	}
}

.js-api-table{
	td:first-child{
		font-family: $f-code;
	}
}