@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
/* debug */
/* mixins */
/* colors */
/* fonts */
/* */
body {
  font-family: "Raleway", sans-serif;
  color: #829AB1; }

/* wrapper */
.wrapper {
  max-width: 1000px;
  margin: 0 auto; }

/* */
/* ====================== siteheader ============= */
.siteheader {
  margin-top: -7em;
  background: #f6f9f9;
  /* magic */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("bg-media/bg2.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  /* magic */ }
  .siteheader .wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 1000px;
    line-height: 1.5;
    color: #fff; }
  .siteheader h1 {
    font-size: 5em; }
    .siteheader h1 span {
      display: block;
      text-transform: uppercase;
      font-size: 0.5em;
      padding-bottom: 1em; }
  .siteheader p {
    margin: 1rem;
    font-size: 1.5em;
    text-transform: capitalize; }

/* ====================== defense ============= */
.defense .tri {
  background-image: url("bg-media/rhomb.svg"); }

.defense section {
  padding: 2rem 0; }
  .defense section .pictured-item {
    max-width: 49%; }

.defense .pictured-item:nth-child(1) .pic {
  background-image: url("bg-media/bug.svg"); }

.defense .pictured-item:nth-child(2) .pic {
  background-image: url("bg-media/binoculars.svg"); }

.defense .pictured-item:nth-child(3) .pic {
  background-image: url("bg-media/silo.svg"); }

.defense .pictured-item:nth-child(4) .pic {
  background-image: url("bg-media/palm.svg"); }

/* ====================== security ============= */
.security {
  background-image: linear-gradient(transparent 63px, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02) 64px, transparent 64px), linear-gradient(90deg, transparent 63px, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02) 64px, transparent 64px), radial-gradient(circle at bottom right, #0182c3 1px, transparent 2px);
  background-size: 4rem 4rem;
  background-color: #f6f9f9; }

.security .tri {
  background-image: url("bg-media/paper.svg"); }

.security .wrapper {
  max-width: 1200px; }

.security section {
  padding: 2rem 0; }
  .security section .pictured-item {
    box-sizing: content-box;
    max-width: 33%; }

.security .pictured-item:nth-child(1) .pic {
  background-image: url("bg-media/cloud.svg"); }

.security .pictured-item:nth-child(2) .pic {
  background-image: url("bg-media/lamp.svg"); }

.security .pictured-item:nth-child(3) .pic {
  background-image: url("bg-media/ruby.svg"); }

.rounds {
  position: relative;
  height: 600px; }

.round {
  color: #0182c3;
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50%;
  border: 0.5em solid rgba(0, 0, 0, 0.1);
  width: 10rem;
  height: 10rem;
  background: #fff;
  padding: 2rem;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center; }

.big-round {
  width: 18rem;
  height: 18rem;
  font-size: 2em;
  font-weight: normal;
  border: none;
  box-shadow: 1em 1em 4em rgba(0, 0, 0, 0.1);
  text-transform: none;
  z-index: 1;
  top: 25%;
  left: 40%; }

.round:nth-child(1) {
  top: 15%;
  left: 35%; }

.round:nth-child(2) {
  bottom: 10%;
  left: 15%; }

.round:nth-child(4) {
  bottom: 20%;
  right: 15%; }

/* ====================== cloud ============= */
.cloud {
  background-image: linear-gradient(#13315C, #296Ca2, #0182c3); }

.cloud .tri {
  background-image: url("bg-media/rhomb2.svg"), url("bg-media/rhomb2.svg");
  background-position: 45%, 55%;
  background-size: 2rem, 2rem; }

.cloud header {
  color: #f6f9f9; }
  .cloud header h2 {
    color: inherit; }

/* ====================== spotlight ============= */
.spotlight .pictured-item {
  max-width: 49%; }

.spotlight .tri {
  background-image: url("bg-media/quotes.svg"); }

.spotlight .pictured-item:nth-child(1) .pic {
  background-image: url("bg-media/twitter.svg"); }

.spotlight .pictured-item:nth-child(2) .pic {
  background-image: url("bg-media/monitor.svg"); }

.author {
  padding: 1em 0;
  font-size: 0.875em;
  color: #829AB1; }

/* ====================== news ============= */
.news {
  background-color: #f6f9f9; }

.news .tri {
  background-image: url("bg-media/news.svg"); }

.news-item {
  max-width: 30%; }
  .news-item-meta {
    padding: 1em; }
  .news-item-pic {
    height: 10rem;
    background-color: #eee; }
  .news-item-header {
    padding-top: 1em; }
  .news-item p {
    padding: 1em; }

.news-item .news-item-pic {
  background-size: cover; }

.news-item:nth-child(1) .news-item-pic {
  background-image: url("bg-media/n1.jpg"); }

.news-item:nth-child(2) .news-item-pic {
  background-image: url("bg-media/n2.jpg"); }

.news-item:nth-child(3) .news-item-pic {
  background-image: url("bg-media/n3.jpg"); }

/* ====================== forfree ============= */
/* ====================== sitefooter ============= */
.sitesection > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

/* components */
.sitesection {
  padding: 6rem 0; }
  .sitesection header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .sitesection header p {
      font-size: 1.44em;
      padding: 1rem 3em;
      line-height: 1.2; }
  .sitesection h2 {
    font-size: 3em;
    text-transform: capitalize;
    color: #13315C; }
    .sitesection h2 span {
      display: block;
      text-transform: uppercase;
      font-size: 0.5em;
      padding-bottom: 1em; }
  .sitesection .cat {
    font-size: 0.75rem;
    letter-spacing: 0.2em;
    padding: 1rem 0;
    text-transform: uppercase;
    font-weight: bold; }

/*  big components */
.pictured-item {
  display: flex;
  align-items: flex-start;
  padding: 2rem 0 0 0; }
  .pictured-item-pic {
    width: 30%;
    padding: 0 1em; }
    .pictured-item-pic .pic {
      width: 4em;
      height: 4em;
      border-radius: 50%;
      padding: 1em;
      border: 1px solid #ADC4Ce;
      background: url("bg-media/bug.svg");
      background-size: 2em 2em;
      background-repeat: no-repeat;
      background-position: 50%; }
  .pictured-item-text {
    padding: 0 1em; }
    .pictured-item-text h3 {
      color: #13315C;
      padding-bottom: 1rem;
      font-weight: bold;
      font-size: 1.11rem; }
    .pictured-item-text p, .pictured-item-text ul {
      line-height: 1.8;
      font-size: 0.875em; }
    .pictured-item-text ul {
      list-style-type: disc;
      padding-left: 1em; }

.tri {
  width: 2rem;
  height: 2rem;
  display: block;
  background-size: cover; }

.tm {
  display: inline-flex; }

button {
  padding: 1em 2em;
  margin: 1em 0;
  text-transform: uppercase;
  color: #f6f9f9;
  background: #0182c3;
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  transition: all 0.3s; }
  button:hover {
    background-color: #296Ca2; }

/* helpers and debugger */
.style-guide {
  margin: 1em;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 1em;
  position: fixed;
  bottom: 1em;
  right: 1em;
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1);
  background: #fff; }
  .style-guide .color-box {
    margin: 0.5em 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0.65em 1em;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2); }
    .style-guide .color-box:nth-child(1) {
      background: #f6f9f9; }
    .style-guide .color-box:nth-child(2) {
      background: #13315C; }
    .style-guide .color-box:nth-child(3) {
      background: #d3d9da; }
    .style-guide .color-box:nth-child(4) {
      background: #296Ca2; }
    .style-guide .color-box:nth-child(5) {
      background: #829AB1; }
    .style-guide .color-box:nth-child(6) {
      background: #0182c3; }
    .style-guide .color-box:nth-child(7) {
      background: #ADC4Ce; }

/*# sourceMappingURL=css.work.css.map */
